

<div id="header">
  <div id="imagenlogo">
    <img src="/images/logo2.jpg">
  </div>
  <div id="texto">
  <h1 style="color:white">FBI</h1>
  </div>
  <div id="texto2">
  <h2 id="h1index" style="color:white">Federal Bureau of Investigation</h2>
  </div>
</div>


<div class="login" id="logincontainer">
  <h1>Special Agents FBI</h1>
    <form action="/auth/login" method="POST">
      <input type="text" name="username" placeholder="Agent-ID" required="required" />
        <input type="password" name="password" placeholder="SuperSecret Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
    </form>
</div>


















