

<div id="header">
  <div id="imagenlogo">
    <img src="/images/logo2.jpg">
  </div>
  <div id="texto">
  <h1 style="color:white">FBI</h1>
  </div>
  <div id="texto2">
  <h2 id="h1index" style="color:white">Federal Bureau of Investigation</h2>
  </div>
</div>
<div id="formlogin" style="border:2px solid black">
<form action="/auth/login" method="POST">
   <label> Username
      <input type="text" name="username">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>

   <button type="submit">Submit</button>
</form>
</div>




