<div id="header">
  <div id="imagenlogo">
    <img src="/images/logo2.jpg">
  </div>
  <div id="texto">
  <h1 style="color:white">FBI</h1>
  </div>
 
</div>


<div class="login" id="logincontainer">
<form action="/auth/signup" method="POST">
 <input type="text" name="username" placeholder="Agent-name" required="required" />
   <input type="password" name="password" placeholder="SuperSecret Password" required="required" />
   <button type="submit" class="btn btn-primary btn-block btn-large">Submit</button>
</form>
</div>

   
