
      <div id="container-main">

<div id="header">
  <div id="imagenlogo">
    <img src="/images/logo2.jpg">
  </div>
  <div id="texto">
  <h1 style="color:white">FBI</h1>
  </div>
  <div id="texto2">
  <h2 id="h1index" style="color:white">Federal Bureau of Investigation</h2>
  </div>
</div>

<div id="imagenindex">
  <form class="container-fluid justify-content-end" id="form">
    {{#if isLogin}}
    <button class="btn btn-sm btn-outline-secondary" type="button" id="button-login" onclick="triggerLogOut()" style="float:right">Logout</button>
    <div id="botonesloged">
    <a class="btn btn-sm btn-outline-secondary" href="/wanted">Wanted list</a>
    <a class="btn btn-sm btn-outline-secondary" href="/follow-list">On follow</a>
    </div>
    {{else}}
    <button class="btn btn-sm btn-outline-secondary" type="button" id="button-login" onclick="goToLogin()">Loging</button>
     <button class="btn btn-sm btn-outline-secondary" type="button" id="button-signup" onclick="goToSignUp()">Sign up</button>
    {{/if}}
  </form>
</div>
</div>
