
  <div id="header">
    <div id="imagenlogo">
      <img src="/images/logo2.jpg">
    </div>
    <div id="texto">
      <h1 style="color:white">FBI</h1>
    </div>
    <div id="texto2">
      <h2 id="h1index" style="color:white">Most Wanted Criminals</h2>
    </div>
  </div>

<div id="wantedcontainer">


    <div class="row">
      <div class="col">
        {{#each Wanted}}
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            {{#each images}}
            <img src="{{large}}" class="card-img-top img-thumbnail" alt="...">
            {{/each}}
            <p class="card-text">{{description}}</p>
            <a href="#" class="btn btn-primary">Añadir a mi lista</a>
          </div>
        {{/each}}
        </div>
      </div>

</div>





    

